html {
    width: 80%;
    margin: auto;
}

h1 {
    text-align: center;
    /* border-bottom: 1px solid black; */
}

@media screen and (max-width: 525px) {
   html {
      font-size: 0.8em;
    }
  }