h1 {
  margin-top: 0;
  text-align: center;
  /* border-bottom: 1px solid black; */
}

.instructions {
  text-align: center;
  width: 79%;
  margin: auto;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
}

.submit {
  margin-right: 15px;
}

.required {
  color: red;
}

.about-wrapper, .booking-wrapper, .contact-wrapper, .service-wrapper {
  width: 80%;
  margin: auto;
}

.service, .about {
  background-color: lightcoral;
}

.booking, .contact {
  background-color: lightblue;
}

.about, .booking, .contact, .service {
  padding: 20px 0;
}

@media screen and (max-width: 535px) {
  html {
    font-size: 0.8em;
  }
}
